*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond;
    background-color: #5C3A21;
    text-align: center;
}

footer ul li{
    display: inline;
    color: #7E7E7E;
    padding-left: 12px;
    background-color:#EEEEEE;

}

footer{
    background-color:#EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

footer h2{
    background-color:#EEEEEE;
    padding-bottom: 10px;
    color: black;
}

footer ul{
    background-color:#EEEEEE;
    width: 100%;
}

header{
    background-color: #F0E6D2;
    border-bottom: 3px solid black;
    margin-bottom: 0px;
    padding: 2px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

nav{
    background-color: #F0E6D2;
}

a{
    background-color: #F0E6D2;
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    padding-right: 25px;
    padding-left: 25px;

}

main{
    border-bottom: 3px solid black;
    width: 100%;
}

main ul{
    width: 100em;
    margin: 0 auto;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;
    list-style-type: none;
}

main li{
    text-align: center;
    display: inline-block;
    padding-bottom: 2em;
    padding-right: 0.8em;

}
