*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Garamond;
    background-color: #ffffff;
    text-align: center;
}

header{
    background-color: #F0E6D2;
    border-bottom: 3px solid black;
    margin-bottom: 0px;
    padding: 2px;
    padding-bottom: 10px;
    text-align: center;
}

nav{
    background-color: #F0E6D2;
}

a{
    background-color: #F0E6D2;
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    padding-right: 25px;
    padding-left: 25px;

}

main section{
    display: inline-block;
    margin-left: 30px;
    margin-top:30px;
}

main section article p{
    text-align: left;
    background-color: #F0E6D2;
    font-size: 20px;
}

main section article{
    background-color: #F0E6D2;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-bottom: 20px;

}


footer ul li{
    display: inline;
    color: #7E7E7E;
    padding-left: 12px;
    background-color:#EEEEEE;

}

footer{
    background-color:#EEEEEE;
    padding-bottom: 20px;
    padding-top: 20px;
}

footer h2{
    background-color:#EEEEEE;
    padding-bottom: 10px;
    color: black;
}

footer ul{
    background-color:#EEEEEE;
}

h1{

    margin-top:30px;
    margin-bottom: 20px;
    color: #482000;

}

main{
    border-bottom: 3px solid black;
}